<div class="example-card" [attr.selected]="checkBoxSelectMateValue">
  <div>
    <div class="strict-line"> {{unicorn.name}}</div>
    <div>{{unicorn.age}}, {{unicorn.gender}}</div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280.000000 1280.000000" preserveAspectRatio="xMidYMid meet"
    class="unicorn-svg">
    <defs>
      <linearGradient [id]="index">
        <stop offset="5%" [attr.stop-color]="unicorn.startColorCss" />
        <stop offset="95%" [attr.stop-color]="unicorn.endColorCss" />
      </linearGradient>
    </defs>
    <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" stroke="none">
      <path [ngStyle]="{'fill': 'url(#'+index+')'}" d="M11984 11729 c-239 -127 -499 -269 -664 -364 -107 -62 -265 -150
-350 -198 -85 -47 -231 -131 -325 -187 -192 -114 -454 -250 -532 -275 -55 -18
-97 -15 -106 9 -3 7 11 31 30 52 58 62 112 152 134 223 39 125 24 334 -27 368
-42 27 -65 7 -122 -111 -48 -96 -158 -256 -230 -334 -35 -38 -70 -41 -166 -16
-86 22 -123 47 -136 92 -5 20 -10 102 -10 182 -1 243 -21 350 -70 370 -42 17
-61 7 -133 -70 -77 -81 -128 -178 -158 -300 -22 -88 -48 -130 -82 -130 -11 0
-52 18 -91 39 -99 55 -174 75 -276 74 -87 -1 -106 -6 -329 -87 -142 -53 -266
-34 -387 58 -55 42 -101 47 -130 15 -15 -17 -19 -34 -17 -82 3 -80 31 -135 89
-175 53 -38 50 -48 -26 -87 -64 -33 -140 -52 -250 -65 -192 -22 -455 -85 -480
-115 -19 -23 -15 -65 9 -88 20 -20 35 -22 237 -29 118 -4 223 -12 233 -18 23
-12 31 -39 20 -67 -12 -33 -87 -78 -199 -122 -238 -92 -310 -190 -282 -385 30
-205 1 -253 -185 -311 -108 -33 -143 -64 -143 -126 0 -79 52 -126 161 -148 89
-19 113 -62 57 -104 -20 -15 -51 -22 -126 -28 -201 -15 -282 -89 -282 -256 0
-72 0 -72 -49 -127 -26 -31 -71 -103 -99 -159 -43 -87 -63 -115 -122 -171 -39
-36 -95 -80 -125 -97 -134 -76 -155 -178 -46 -231 74 -37 157 -31 249 17 56
29 76 35 85 26 19 -19 14 -224 -6 -291 -22 -76 -71 -146 -121 -175 -84 -49
-191 -49 -441 0 -132 26 -156 28 -435 29 -318 1 -373 -4 -565 -54 -263 -67
-504 -209 -670 -394 -39 -43 -82 -84 -97 -92 -35 -18 -89 -18 -132 0 -78 32
-187 49 -285 43 -104 -6 -165 -24 -276 -79 -66 -33 -78 -36 -200 -42 -346 -19
-541 -79 -727 -227 -164 -130 -277 -317 -329 -549 -25 -112 -35 -367 -20 -520
7 -63 15 -159 18 -212 10 -166 -13 -201 -232 -348 -157 -107 -227 -178 -285
-295 -54 -107 -73 -189 -73 -305 0 -104 20 -194 58 -270 26 -51 88 -116 120
-126 53 -17 112 -74 205 -197 55 -73 120 -158 144 -190 48 -62 62 -113 54
-191 -12 -101 -93 -218 -187 -270 -42 -22 -70 -29 -164 -36 -63 -5 -138 -15
-168 -21 -249 -52 -417 -309 -365 -558 21 -100 91 -238 170 -338 66 -83 94
-101 135 -88 36 11 35 42 -4 118 -75 150 -68 272 21 367 46 49 123 94 137 81
4 -4 -5 -32 -20 -61 -26 -50 -28 -63 -28 -165 0 -103 2 -114 31 -176 41 -87
90 -139 194 -209 47 -32 95 -68 107 -81 76 -83 68 -254 -14 -319 -33 -26 -85
-26 -183 0 -254 66 -501 42 -740 -71 -184 -87 -314 -207 -395 -364 -20 -38
-45 -81 -55 -96 -22 -29 -28 -113 -10 -124 24 -15 74 11 147 76 194 175 439
293 606 292 73 0 64 4 317 -131 129 -68 294 -127 385 -137 79 -8 182 9 259 44
34 15 113 44 177 64 233 74 330 177 345 372 3 39 2 89 -4 112 -8 34 -6 46 9
70 27 40 24 71 -12 139 -46 85 -51 165 -15 238 36 73 146 189 260 275 173 129
262 253 307 426 27 106 27 279 0 487 -11 86 -18 164 -15 172 4 11 19 16 44 16
57 0 98 11 104 27 3 8 -8 44 -25 79 -62 128 -50 191 70 394 202 339 241 526
187 905 -14 99 -28 212 -31 250 l-5 70 36 -75 c79 -164 86 -197 114 -555 5
-71 21 -175 34 -229 19 -76 23 -108 16 -135 -4 -20 -20 -80 -34 -133 -17 -64
-29 -149 -36 -250 -27 -383 -35 -417 -125 -539 -68 -93 -95 -172 -95 -280 0
-67 7 -100 39 -197 70 -208 91 -387 91 -781 0 -265 -7 -308 -65 -418 -56 -106
-46 -167 44 -267 60 -66 64 -91 21 -140 -64 -73 -99 -216 -80 -331 14 -88 32
-104 146 -140 69 -21 101 -25 206 -25 122 0 126 1 165 29 74 53 103 113 103
209 0 79 -20 127 -85 214 -48 64 -60 105 -51 170 19 131 18 216 -2 323 -38
202 -44 259 -49 520 -6 299 6 499 34 550 10 18 32 57 48 87 30 53 30 53 31
223 1 277 33 360 236 612 40 50 93 127 117 170 97 173 158 273 229 377 93 135
113 185 151 370 31 147 53 206 88 238 32 29 90 48 145 48 45 0 61 -6 127 -50
42 -27 135 -77 206 -110 72 -34 158 -75 192 -91 71 -34 145 -110 164 -167 6
-20 47 -114 90 -208 112 -242 122 -287 123 -509 1 -209 -11 -266 -87 -395 -25
-41 -48 -89 -51 -107 -9 -38 16 -96 69 -161 25 -32 35 -53 35 -79 0 -80 19
-113 130 -223 58 -58 143 -154 187 -215 476 -644 509 -697 563 -895 17 -63 36
-121 43 -130 33 -45 67 -74 108 -95 76 -39 124 -37 173 6 55 48 71 25 36 -52
-26 -57 -27 -160 -2 -209 27 -55 66 -68 237 -79 83 -6 196 -11 253 -11 150 0
171 16 172 125 0 239 -115 392 -364 485 -88 33 -134 73 -166 143 -30 67 -65
105 -120 132 -109 54 -185 141 -388 445 -132 198 -175 286 -203 420 -12 58
-46 180 -75 271 -79 243 -76 269 40 419 68 87 147 244 176 350 11 41 29 125
40 185 11 61 31 146 45 190 14 44 29 117 32 162 3 50 11 87 19 94 7 6 69 21
137 34 155 28 263 61 452 138 133 53 158 60 220 61 95 0 158 -30 266 -128 112
-103 250 -195 439 -291 136 -70 164 -89 231 -155 80 -79 115 -136 155 -254 33
-96 80 -175 173 -290 96 -120 162 -242 241 -450 97 -255 109 -332 69 -462 -33
-107 -13 -175 81 -279 60 -67 63 -90 14 -135 -46 -42 -71 -98 -85 -194 -21
-137 16 -322 85 -424 66 -98 184 -135 259 -81 36 25 148 159 184 219 60 99 66
226 18 373 -29 89 -32 163 -10 252 17 70 19 152 5 213 -6 24 -42 113 -80 198
-138 303 -317 773 -330 863 -5 36 -10 107 -10 156 0 113 -26 211 -86 325 -74
141 -123 199 -210 250 -42 25 -102 70 -134 100 -48 47 -253 310 -279 359 -29
53 127 158 269 180 36 6 183 11 327 11 353 0 404 10 689 140 158 72 350 143
420 154 24 4 60 2 85 -4 79 -21 119 -76 119 -164 0 -57 -83 -620 -101 -691
-16 -59 -46 -112 -104 -187 -96 -123 -117 -197 -91 -324 l8 -41 -122 -18
c-191 -29 -232 -59 -265 -195 -24 -98 -17 -262 14 -343 29 -75 72 -124 122
-138 87 -26 269 31 346 108 22 22 68 90 103 151 77 136 136 211 215 274 84 68
97 96 107 242 18 262 44 435 142 941 88 454 94 573 37 690 -40 81 -141 184
-220 222 -53 27 -62 28 -176 25 -66 -2 -277 -7 -470 -11 -350 -7 -350 -7 -425
-35 -117 -44 -125 -44 -139 -4 -7 18 -16 105 -22 193 -60 956 -107 1225 -305
1757 -22 61 -16 67 101 93 40 9 146 117 180 185 34 68 51 151 65 330 22 273
77 554 161 817 71 220 85 367 53 552 -9 55 -12 97 -7 102 5 5 61 -43 134 -116
137 -137 158 -147 204 -100 24 23 25 30 25 149 0 138 -11 204 -46 285 -13 29
-24 59 -24 66 0 7 34 32 76 55 42 23 140 85 218 138 77 53 177 118 221 145 43
27 100 66 126 88 55 46 437 292 856 551 162 100 299 191 305 201 12 23 -14 67
-41 67 -10 0 -45 -14 -77 -31z" />
    </g>
  </svg>

  <div>
    Select :
    <input type="checkbox" label="select unicorn" id="mate_selected" [(ngModel)]="checkBoxSelectMateValue"
      (ngModelChange)="onSelectMateCheckBoxChange($event)" >
  </div>
</div>