<div class="container">

  <app-create-unicorn class="container unicorn-list p-m-all"></app-create-unicorn>

  <div *ngIf="breedingCandidateList$">
    <div>Select 2 unicorns of different genders to breed them</div>
    <button  [disabled]="!isTwoDifferentSex" (click)="reproduction()">Reproduction</button>
  </div>
  <div class="container unicorn-list p-m-all">
    <div *ngFor="let unicorn of (unicornList$|async);let i = index" class="unicorn p-xs-all">
      <app-unicorn [unicorn]="unicorn" [index]="i"></app-unicorn>
    </div>
  </div>
</div>
