.unicorn-list{
  display:flex;
  width:100%;
  justify-content: center;
}

.unicorn{
  width:100%;
  max-width: 10%;
  min-width: 200px;
}

@media screen and (max-width: 700px){
  .unicorn{
    width: 40%;
    min-width: 200px;
    max-width: unset;
    min-width: unset;
  }
}
