<div class="container p-m-all">
  <div>
    <table>
      <caption>Create your unicorn</caption>
      <thead>
      <tr>
        <th scope="col">Property: </th>
        <th scope="col">Value : </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><label for="name">Name:</label></td>
        <td>
          <input id="name" type="text" [formControl]="name"></td>
      </tr>
      <tr>
        <td>Gender:</td>
        <td>
          <select [formControl]="gender">
            <option *ngFor="let encryptionProtocol of genderKeys()"

                    [ngValue]="genderEnum[encryptionProtocol]">
              {{encryptionProtocol}}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Age:</td>
        <td><input type="number" [formControl]="age"></td>
      </tr>
      <tr>
        <td>Unicorn Start color :</td>
        <td><input type="color" [formControl]="startColorCss"></td>
      </tr>
      <tr>
        <td>Unicorn End color :</td>
        <td><input type="color" [formControl]="endColorCss"></td>
      </tr>
      <button color="accent" (click)="handleAdd()">Create</button>
      </tbody>
    </table>
  </div>
</div>
