$m: calc(1vw + 1em);
$s: calc(0.66vw + 0.66em);
$xs: calc(0.33vw + 0.33em);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-wrap: break-word;text-overflow: ellipsis !important;}

.container{
  display:flex;
  width:100%;
  flex-flow:wrap;
  justify-content: center;
}

.error{
  color: red;
  border:3px solid red;
  padding: $s;
}

.strict-line{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.example-card[selected=true]{
  border:2px outset #0f0;
}

.col-50{
  display:flex;
  width:50%;
}

.row{
  display:flex;
  width:100%;
}

.m-t-m{
  margin-top: $m;
}

.p-xs-all{
  padding: $xs;
}

.p-m-all{
  padding: $m;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
